body{
    background-color: #edf0f5;

}
.left{
    margin: 10%;
    margin-top: 15%;
}
.right{
    border:gray 1px solid ;
    border-radius: 8px;
    padding:20px ;
    margin-top: 25%;
    box-shadow: rgb(105, 103, 103) 2px 5px 5px 5px;
}
.connexion{
    width: 100%;
    background: color #1876f1;
    color: white;
}
.new{
    background-color: #42b72a;
    color: white;
}
.btnnew{
    padding-left: 20px;
}
h1{
    color: #1876f1;
    font-size: 60px;

}
h6{
    font-size: 15px;
    padding-top: 10px;
}